<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="sample/index.html"/>
      </files>
    </defaultDocument>
    <httpErrors  errorMode="Custom">
      <clear/>
      <error statusCode="404" prefixLanguageFilePath="" path="/sample/pages/not-found.html" responseMode="Redirect" />
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>